body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}

body {
    background-color: #f4f4f4;
}

header {
    position: relative;
}

.banner {
    width: 100%;
    display: block;
    filter: grayscale(100%);
}

.banner--title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner--title h1 {
    font-size: 48px;
}

.banner--title h2 {
    font-size: 36px;
    margin-top: 10px;
}

.banner--title span {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
}

.banner--title span a {
    color: white;
    text-decoration: underline;
}

.highlights {
    width: 1170px;
    margin: 40px auto;
}

.highlights h2 {
    margin-bottom: 20px;
}

.highlights--container {
    width: 48%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.highlights--media {
    float: left;
    margin-right: 15px;
}

.highlights--media img {
    width: 285px;
    display: block;
}

.highlights--button {
    float: right;
    background-color: orange;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
}

.highlights::after {
    content: "";
    display: block;
    clear: both;
}

.mosaic {
    position: relative;
    width: 1170px;
    height: 1000px;
    margin: 40px auto;
}

.mosaic-item {
    position: absolute;
    overflow: hidden;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mosaic--a {
    width: 580px;
    height: 390px;
    top: 0;
    left: 0;
}

.mosaic--b {
    width: 285px;
    height: 190px;
    top: 0;
    left: 590px;
}

.mosaic--c {
    width: 285px;
    height: 190px;
    top: 200px;
    left: 590px;
}

.mosaic--d {
    width: 285px;
    height: 390px;
    top: 0;
    left: 885px;
}

.mosaic--e {
    width: 285px;
    height: 390px;
    top: 400px;
    left: 0;
}

.mosaic--f {
    width: 285px;
    height: 190px;
    top: 400px;
    left: 295px;
}

.mosaic--g {
    width: 285px;
    height: 190px;
    top: 400px;
    left: 590px;
}

.mosaic--h {
    width: 285px;
    height: 390px;
    top: 400px;
    left: 885px;
}

.mosaic--i {
    width: 285px;
    height: 190px;
    top: 800px;
    left: 0;
}

.mosaic--j {
    width: 580px;
    height: 390px;
    top: 600px;
    left: 295px;
}

.mosaic--k {
    width: 285px;
    height: 190px;
    top: 800px;
    left: 885px;
}
